<improve-layout-with-buttons>
  <ng-container title>Phrase aléatoire</ng-container>
  <ng-container content>
    <div class="h-full w-full flex items-center justify-center">
      <div class="lg:text-2xl text-lg p-4">
        <ng-container *ngIf="theme; noTheme">
          {{ theme }}
        </ng-container>

        <ng-template #noTheme>Aucune phrase disponible</ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container buttons>
    <a routerLink="/themes" class="grow text-center">Retour</a>
    <button
      class="ui-link grow"
      type="button"
      (click)="onNewArticulation()"
      *ngIf="theme"
    >
      Nouvelle phrase
    </button>
  </ng-container>
</improve-layout-with-buttons>
