<improve-layout-with-buttons>
  <ng-container content>
    <div class="h-full w-full flex items-center justify-center">
      <div class="lg:text-2xl text-lg">
        <ng-container *ngIf="theme; noTheme">
          {{ theme }}
        </ng-container>

        <ng-template #noTheme>Aucun thème disponible</ng-template>
      </div>
    </div>
  </ng-container>
  <ng-container buttons>
    <a routerLink="/themes" class="grow text-center">Retour</a>
    <button
      class="ui-link grow"
      type="button"
      (click)="onNewTheme()"
      *ngIf="theme"
    >
      Nouveau thème
    </button>
  </ng-container>
</improve-layout-with-buttons>
