<div class="h-full w-full flex flex-col">
  <div class="grow flex items-center justify-center">
    <div class="lg:text-2xl text-lg">
      <ng-container *ngIf="theme; noTheme">
        {{ theme }}
      </ng-container>

      <ng-template #noTheme>Aucun thème disponible</ng-template>
    </div>
  </div>

  <div class="flex flex-row">
    <a routerLink="/themes" class="grow text-center">Retour</a>
    <button
      class="ui-link grow"
      type="button"
      (click)="onNewTheme()"
      *ngIf="theme"
    >
      Nouveau thème
    </button>
  </div>
</div>
