<improve-layout>
  <ng-container title
    ><improve-feather-icon icon="help-circle"></improve-feather-icon
    >&nbsp;A&nbsp;propos</ng-container
  >
  <ng-container content>
    <div class="m-2">
      <p class="mb-3">
        Ce site est un outil disponible pour tous afin de faciliter
        l'organisation de séances d'entraînement à l'improvisation.
      </p>
      <p class="mb-3">
        Une idée ? Un ajout ? Une modification ? Un problème ? Vous pouvez me
        contacter via les
        <a href="https://github.com/vtabary/improve/issues" target="_blank"
          >tickets Github</a
        >.
      </p>
      <p>
        Cet outil est développé par
        <a href="https://github.com/vtabary/improve" target="_blank"
          >Vincent Tabary</a
        >
        et hébergé via
        <a href="https://github.com/" target="_blank">Github</a>
      </p>
    </div>
  </ng-container>
</improve-layout>
