<nav class="bg-gray-800">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <a
            routerLink="/"
            class="flex flex-row items-center rounded-full bg-gray-800 p-1 text-gray-400 text-xl hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 gap-2"
          >
            <improve-feather-icon icon="users"></improve-feather-icon>
            <span>Improve</span>
          </a>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a
              routerLink="/categories"
              routerLinkActive="ui-menu-entry--active"
              class="ui-menu-entry"
              >Catégories</a
            >
            <a
              routerLink="/themes"
              routerLinkActive="ui-menu-entry--active"
              class="ui-menu-entry"
              >Thèmes</a
            >
            <a
              routerLink="/jobs"
              routerLinkActive="ui-menu-entry--active"
              class="ui-menu-entry"
              >Métiers</a
            >
            <a
              routerLink="/emotions"
              routerLinkActive="ui-menu-entry--active"
              class="ui-menu-entry"
              >Emotions</a
            >
            <a
              routerLink="/sounds"
              routerLinkActive="ui-menu-entry--active"
              class="ui-menu-entry"
              >Sons</a
            >
            <a
              routerLink="/articulations"
              routerLinkActive="ui-menu-entry--active"
              class="ui-menu-entry"
              >Articulations</a
            >
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button
                type="button"
                class="rounded-full bg-gray-800 p-1 text-gray-400 text-xl hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                id="user-menu-button"
                aria-expanded="false"
                aria-haspopup="true"
                (click)="onToggleMenu()"
              >
                <span class="sr-only">Ouvrir le menu utilisateur</span>
                <improve-feather-icon icon="settings"></improve-feather-icon>
              </button>
            </div>
            <div
              *ngIf="menuOpened"
              class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="user-menu-button"
              tabindex="-1"
            >
              <a
                routerLink="/classes"
                class="block px-4 py-2 text-sm text-gray-700"
                role="menuitem"
                tabindex="-1"
                id="user-menu-item-0"
                >Gérer les cours</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="onToggleMenu()"
        >
          <span class="sr-only">Ouvrir le menu principal</span>
          <improve-feather-icon
            *ngIf="!menuOpened"
            icon="menu"
          ></improve-feather-icon>
          <improve-feather-icon
            *ngIf="menuOpened"
            icon="x"
          ></improve-feather-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div *ngIf="menuOpened" class="md:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
      <a
        routerLink="/categories"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Catégories</a
      >
      <a
        routerLink="/themes"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Thèmes</a
      >
      <a
        routerLink="/jobs"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Métiers</a
      >
      <a
        routerLink="/emotions"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Emotions</a
      >
      <a
        routerLink="/roles"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Personnages</a
      >
      <a
        routerLink="/sounds"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Sons</a
      >
      <a
        routerLink="/articulations"
        (click)="onToggleMenu()"
        routerLinkActive="ui-burger-menu-entry--active"
        class="ui-burger-menu-entry"
        >Articulations</a
      >
    </div>
    <div class="border-t border-gray-700 pt-4 pb-3">
      <div class="flex items-center px-5">
        <div class="text-base font-medium leading-none text-white">
          Cours : {{ currentClass$ | async }}
        </div>
        <a
          routerLink="/classes"
          (click)="onToggleMenu()"
          class="ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
        >
          <span class="sr-only">Gérer les cours</span>
          <improve-feather-icon icon="settings"></improve-feather-icon>
        </a>
      </div>
    </div>
  </div>
</nav>

<main class="grow">
  <router-outlet></router-outlet>
</main>
