<div class="ui-card-container">
  <a routerLink="/themes" class="ui-card-link">Thèmes</a>
  <a routerLink="/categories" class="ui-card-link">Catégories</a>
  <a routerLink="/roles" class="ui-card-link">Personnages</a>
</div>
<div class="ui-card-container">
  <a routerLink="/sounds" class="ui-card-link">Sons</a>
  <a routerLink="/themes" class="ui-card-link">Emotions</a>
  <a routerLink="/jobs" class="ui-card-link">Métiers</a>
  <a routerLink="/articulations" class="ui-card-link">Articulations</a>
</div>
