<div class="m-2">
  <h2 class="text-xl">Impros</h2>
  <div class="ui-card-container">
    <a routerLink="/themes" class="ui-card-link"
      ><improve-feather-icon icon="edit-2"></improve-feather-icon
      >&nbsp;Thèmes</a
    >
    <a routerLink="/categories" class="ui-card-link"
      ><improve-feather-icon icon="box"></improve-feather-icon
      >&nbsp;Catégories</a
    >
  </div>
  <h2 class="text-xl">Personnages</h2>
  <div class="ui-card-container">
    <a routerLink="/roles" class="ui-card-link"
      ><improve-feather-icon icon="user"></improve-feather-icon>&nbsp;Générer un
      profil complet</a
    >
    <a routerLink="/jobs" class="ui-card-link"
      ><improve-feather-icon icon="briefcase"></improve-feather-icon
      >&nbsp;Métiers</a
    >
    <a routerLink="/emotions" class="ui-card-link"
      ><improve-feather-icon icon="activity"></improve-feather-icon
      >&nbsp;Emotions</a
    >
  </div>
  <h2 class="text-xl">Outils</h2>
  <div class="ui-card-container">
    <a routerLink="/sounds" class="ui-card-link"
      ><improve-feather-icon icon="music"></improve-feather-icon>&nbsp;Sons</a
    >
  </div>
  <h2 class="text-xl">Echauffements</h2>
  <div class="ui-card-container">
    <a routerLink="/articulations" class="ui-card-link"
      ><improve-feather-icon icon="wind"></improve-feather-icon
      >&nbsp;Articulations</a
    >
  </div>
  <h2 class="text-xl">Autres</h2>
  <div class="ui-card-container">
    <a routerLink="/articulations" class="ui-card-link"
      ><improve-feather-icon icon="external-link"></improve-feather-icon
      >&nbsp;Resources</a
    >
  </div>
</div>
