<improve-layout-with-buttons>
  <ng-container title
    ><improve-feather-icon icon="user"></improve-feather-icon>&nbsp;Personnage
    aléatoire</ng-container
  >

  <ng-container content>
    <div class="m-2">
      <h2 class="">Métier</h2>
      <div class="border-l-2 border-gray-500 ml-4">
        <improve-job-item [item]="job"></improve-job-item>
      </div>
      <h2 class="text-lg">Emotion</h2>
      <div class="border-l-2 border-gray-500 ml-4">
        <improve-emotions-item [item]="emotion"></improve-emotions-item>
      </div>
    </div>
  </ng-container>

  <ng-container buttons>
    <button class="ui-link grow" type="button" (click)="generate()">
      Générer un nouveau personnage
    </button>
  </ng-container>
</improve-layout-with-buttons>
