<improve-layout>
  <ng-container title
    ><improve-feather-icon icon="box"></improve-feather-icon
    >&nbsp;Catégories</ng-container
  >
  <ng-container content>
    <div class="ui-card-container">
      <a class="ui-card-link" routerLink="/categories/list">Liste complète</a>
      <a class="ui-card-link" routerLink="/categories/random">Aléatoire</a>
    </div>
  </ng-container>
</improve-layout>

<div class="ui-card-container">
  <a class="ui-card-link" routerLink="/themes/random">Aléatoire</a>
  <a class="ui-card-link" routerLink="/themes/list">Liste complète</a>
</div>
