<nav class="bg-gray-800">
  <div class="mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="flex md:h-16 md:!h-16 items-stretch md:items-center justify-between"
      [style.height]="menuOpened ? 'auto' : null"
    >
      <div
        class="flex md:items-center flex-col md:flex-row mb-2 md:mb-0 flex-grow"
        [style.align-items]="menuOpened ? 'start' : null"
      >
        <div class="flex-shrink-0">
          <a
            routerLink="/"
            class="my-2 flex flex-row items-center bg-gray-800 p-1 text-gray-400 text-xl hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 gap-2"
          >
            <improve-feather-icon icon="users"></improve-feather-icon>
            <span>Improve</span>
          </a>
        </div>
        <div
          class="hidden md:block md:flex-grow"
          [style.display]="menuOpened ? 'block' : null"
        >
          <div class="md:ml-10 flex items-baseline space-x-4">
            <div cdkMenuBar>
              <button
                type="button"
                [cdkMenuTriggerFor]="scenes"
                cdkMenuItem
                class="ui-menu-entry"
              >
                Impros&nbsp;<improve-feather-icon
                  icon="chevron-down"
                ></improve-feather-icon>
              </button>
              <button
                type="button"
                [cdkMenuTriggerFor]="roles"
                cdkMenuItem
                class="ui-menu-entry"
              >
                Personnages&nbsp;<improve-feather-icon
                  icon="chevron-down"
                ></improve-feather-icon>
              </button>
              <button
                type="button"
                [cdkMenuTriggerFor]="tools"
                cdkMenuItem
                class="ui-menu-entry"
              >
                Outils&nbsp;<improve-feather-icon
                  icon="chevron-down"
                ></improve-feather-icon>
              </button>
              <button
                type="button"
                [cdkMenuTriggerFor]="training"
                cdkMenuItem
                class="ui-menu-entry"
              >
                Echauffements&nbsp;<improve-feather-icon
                  icon="chevron-down"
                ></improve-feather-icon>
              </button>
              <a
                cdkMenuItem
                routerLink="/resources"
                routerLinkActive="ui-menu-entry--active"
                class="ui-menu-entry"
                ><improve-feather-icon
                  icon="external-link"
                ></improve-feather-icon
                >&nbsp;Ressources</a
              >
              <a
                cdkMenuItem
                routerLink="/about"
                routerLinkActive="ui-menu-entry--active"
                class="ui-menu-entry"
                ><improve-feather-icon icon="help-circle"></improve-feather-icon
                >&nbsp;A propos</a
              >
            </div>
          </div>
        </div>
        <div
          class="hidden md:block"
          [style.display]="menuOpened ? 'block' : null"
        >
          <div class="flex items-center">
            <!-- Profile dropdown -->
            <div cdkMenuBar class="ui-menu">
              <button
                type="button"
                class="ui-menu-entry"
                [cdkMenuTriggerFor]="configuration"
                cdkMenuItem
                title="Ouvrir le menu utilisateur"
              >
                {{ currentClass$ | async }}&nbsp;<improve-feather-icon
                  icon="settings"
                ></improve-feather-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="-mr-2 my-2 flex md:hidden items-start">
        <button
          type="button"
          class="inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          aria-controls="mobile-menu"
          aria-expanded="false"
          (click)="onToggleMobileMenu()"
        >
          <span class="sr-only">Ouvrir le menu principal</span>
          <improve-feather-icon
            *ngIf="!menuOpened"
            icon="menu"
          ></improve-feather-icon>
          <improve-feather-icon
            *ngIf="menuOpened"
            icon="x"
          ></improve-feather-icon>
        </button>
      </div>
    </div>
  </div>
</nav>

<main class="grow">
  <router-outlet></router-outlet>
</main>

<ng-template #scenes>
  <div class="ui-menu" cdkMenu>
    <a
      cdkMenuItem
      routerLink="/themes"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="edit-2"></improve-feather-icon>
      Thèmes</a
    >
    <a
      cdkMenuItem
      routerLink="/categories"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="box"></improve-feather-icon>
      Catégories</a
    >
  </div>
</ng-template>

<ng-template #roles>
  <div class="ui-menu" cdkMenu>
    <a
      routerLink="/roles"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="user"></improve-feather-icon>
      Profil complet</a
    >
    <a
      cdkMenuItem
      routerLink="/jobs"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="briefcase"></improve-feather-icon>
      Métiers</a
    >
    <a
      cdkMenuItem
      routerLink="/emotions"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="activity"></improve-feather-icon>
      Emotions</a
    >
  </div>
</ng-template>

<ng-template #training>
  <div class="ui-menu" cdkMenu>
    <a
      cdkMenuItem
      routerLink="/articulations"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="wind"></improve-feather-icon>
      Articulations</a
    >
  </div>
</ng-template>

<ng-template #tools>
  <div class="ui-menu" cdkMenu>
    <a
      cdkMenuItem
      routerLink="/sounds"
      routerLinkActive="ui-menu-entry--active"
      class="ui-menu-entry"
    >
      <improve-feather-icon icon="music"></improve-feather-icon>
      Sons</a
    >
  </div>
</ng-template>

<ng-template #configuration>
  <div class="ui-menu" cdkMenu>
    <a cdkMenuItem routerLink="/classes" class="ui-menu-entry"
      >Gérer les cours</a
    >
  </div>
</ng-template>
