<improve-list [list]="list" [searchKeys]="['theme']">
  <ng-container title
    ><improve-feather-icon icon="external-link"></improve-feather-icon
    >&nbsp;Liste des ressources externes, disponibles sur Internet</ng-container
  >
  <ng-template #item let-item="item" let-i="index">
    <a [href]="item.url" target="_blank">{{ item.label }}</a
    >&nbsp;<improve-feather-icon icon="external-link"></improve-feather-icon>
    <span class="text-gray-400 block">{{ item.description }}</span>
  </ng-template>
</improve-list>
